<section class="vt-container">
  <article class="vt-article">
    <p class="label-sm vt-mb-4">Page</p>
    <h1 class="vt-heading-lg">{{ page.title }}</h1>
    <div class="vt-article-body vt-mt-8">{{ page.content }}</div>
  </article>
</section>

{% schema %}
{
  "name": "Page",
  "settings": []
}
{% endschema %}
